@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Aula.Aula.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.Aula.AulaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>