@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Plano.Plano.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.Plano.PlanoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>