@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Fisioterapeuta.Fisioterapeuta.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.Fisioterapeuta.FisioterapeutaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>