@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AvaliacaoFisica.AvaliacaoFisica.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.AvaliacaoFisica.AvaliacaoFisicaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>