@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.RegistroAula.RegistroAula.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.RegistroAula.RegistroAulaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>