@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AulaInstrutor.AulaInstrutor.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.AulaInstrutor.AulaInstrutorGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>