@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Pagamento.Pagamento.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.Pagamento.PagamentoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>