@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Instrutor.Instrutor.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GymAction.Instrutor.InstrutorGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>